/*
* expandable menu started
*/


@media (max-width: 1310px) {


    .header-navigation {
        margin-bottom: 0;
    }

    .logo-box {
        width: 100%;
        float: none;
        margin: 0 !important;
    }

    .navigation-box {
        margin: 0;
    }

    .navbar-expand-lg .menu-toggler {
        display: block;
        margin-right: 0;
        border-color: #fff;
        background-color: transparent !important;
        margin: 23px 0;
        color: #fff;
        border: none;
        font-size: 23px;
        float: right;
        outline: none;
        cursor: pointer;
        top: 3px;
        position: relative;
    }

    .menu-toggler:hover {
        border-color: #00AD4D;
    }

    .menu-toggler .icon-bar {
        background: #fff;
    }

    .menu-toggler:hover .icon-bar {
        background: #00AD4D;
    }

    .navbar-expand-lg .navbar-collapse {
        padding-bottom: 0;
        overflow: auto !important;
        width: 100%;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none !important;
        background: transparent;
        padding: 0px 0px !important;
        padding-bottom: 0px !important;
        margin: 0;
        background: #000;
        transition: all .5s ease;
        height: 0;
    }

    .navbar-expand-lg .navbar-collapse.showen {
        display: block !important;
        height: auto;
        max-height: 70vh;
    }

    .navbar-collapse.show {
        overflow-y: auto;
    }

    .header-navigation .nav {
        width: 100%;
        text-align: left;
    }

    .header-navigation .nav>li {
        display: block;
        padding: 0 !important;
        width: 100%;
        float: none;
    }

    .header-navigation .nav>li+li {
        margin-left: 0 !important;
    }

    .header-navigation .nav>li>a {
        padding: 8px 0;
    }

    .header-navigation .right-box.nav {
        width: 100%;
        margin: 0;
    }

    .header-navigation .right-box.nav>li>a {
        border: none !important;
        padding: 8px 0;
        color: #fff;
    }

    .header-navigation .nav>li>a:after {
        display: none;
    }

    .header-navigation .nav.navigation-box+.nav {
        border-top: 1px dashed #282828;
    }

    .header-navigation .navigation-box>li>.submenu,
    .header-navigation .navigation-box>li>.submenu>li>.submenu {
        position: relative !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transition: none !important;
        display: none;
        float: none !important;
        margin: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .header-navigation .navigation-box>li>.submenu>li>a::after {
        display: none;
    }

    .header-navigation ul.navigation-box>li+li {
        padding: 0 !important;
        border-top: 1px solid rgba(255, 255, 255, .1);
        display: block;
        float: none;
    }

    .header-navigation .nav>li.show-mobile {
        display: none;
    }

    .header-navigation ul.navigation-box>li>a,
    .header-navigation .right-box.nav>li>a {
        padding: 0;
        display: block;
        color: #fff;
        padding: 16px 0 16px 20px !important;
        transition: background 0.4s ease 0s;
    }

    .header .stricky-fixed.header-navigation .nav>li {
        padding: 0 !important;
    }

    .header-navigation ul.navigation-box li a .sub-nav-toggler {
        background-color: transparent;
        background-image: none;
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 9px 9px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        /*margin-top: 8px;*/
        margin-right: 0px;
        display: block;
        cursor: pointer;
    }

    .header-navigation .navigation-box .sub-nav-toggler .icon-bar {
        background-color: #ffffff;
        border-radius: 1px;
        display: block;
        height: 1px;
        width: 20px;
    }

    .header-navigation .navigation-box .sub-nav-toggler .icon-bar+.icon-bar {
        margin-top: 4px;
    }

    .header-navigation .container .right-side-box {
        top: 35px;
        right: 15px;
        transform: translateY(0%)
    }

    .header-navigation .container {
        display: block;
        padding-right: 0px;
        padding-left: 0px;
        position: relative;
    }

    .header-navigation .container .logo-box {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        float: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

    .header-navigation .container .logo-box .navbar-brand {
        float: left;
        padding: 15px 15px;
        width: 100%;
        text-align: end;
    }

    .header-navigation .container .logo-box .navbar-toggler {
        float: left;
    }

    .header-navigation ul.navigation-box {
        display: block;
        margin: 0 !important;
        width: 100%;
    }

    .header-navigation ul.navigation-box>li {
        padding: 0 !important;
        display: block;
    }

    .header-navigation ul.navigation-box>li>a {
        display: block;
        padding: 13px 30px;
    }

    .header-navigation ul.navigation-box>li>a:after {
        display: none;
    }

    .header-navigation ul.navigation-box>li+li {
        margin: 0;
    }

    .header-navigation .main-navigation {
        float: none;
        width: 100%;
        display: none;
        text-align: left;
        background: #181818;
        max-height: 70vh;
        overflow-y: scroll;
    }

    .header-navigation .container .menu-toggler {
        display: block;
    }

    .header-navigation.stricky-fixed ul.navigation-box>li {
        padding: 0;
    }

    .header-navigation .container .logo-box .navbar-brand {
        background-color: transparent;
    }

    .header-navigation .container .menu-toggler {
        float: left;
        margin: 31px 0;
        color: #111111;

        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
    }


    .header-navigation {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .site-header__home-three .header-navigation .main-navigation .right-nav>li+li,
    .header-one .header-navigation .main-navigation .right-nav>li+li {
        margin-left: 0;
    }

    .site-header__home-three .header-navigation .main-navigation .right-nav>li+li a,
    .header-one .header-navigation .main-navigation .right-nav>li+li a {
        border: none;
    }

    .site-header__home-three .header-navigation .main-navigation .right-nav,
    .header-one .header-navigation .main-navigation .right-nav {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }

    .site-header__home-two .header-navigation .container .logo-box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

    .site-header__home-two__sidemenu-toggler {
        margin: 25px 0 25px 30px;
        padding-left: 30px;
        position: relative;
        top: 6px;
    }

    .site-header__home-two__search,
    .site-header__home-two__cart {
        width: 70px;
        height: 76.6px;
    }
    .site-header__home-three .header-navigation .container .right-side-box,
    .site-header__home-two .header-navigation .container .right-side-box {
        top: 0;
    }
    
    .site-header__home-three .header-navigation .container .menu-toggler {
        margin-top: 21px;
        margin-bottom: 21px;
    }
    .site-header__home-three {
        padding-left: 0;
    }
    .site-header__inner-page .header-navigation .container .menu-toggler {
        color: #fff;
    }

    .site-header__home-two .header-navigation .container .logo-box .navbar-brand {
    	text-align: left;
    	padding: 10px 15px;
    }
    .site-header__home-two__sidemenu-toggler {
    	margin-top: 15px;
    	margin-bottom: 15px;
    	top: 0;
    }
    .site-header__home-three .header-navigation .container .menu-toggler {
    	margin: 0;
    }
    .site-header__home-three .site-header__home-two__search,
    .site-header__home-three .site-header__home-two__cart {
        height: 83px;
    }

}

@media(max-width: 425px) {
    .site-header__home-three .header-navigation .container .logo-box,
    .header-navigation .container .logo-box {
        padding-right: 0;
    }

    .site-header__home-three .header-navigation .container .right-side-box,
    .header-navigation .container .right-side-box {
        display: none !important;
    }

    .site-header__home-three .header-navigation .container .logo-box,
    .header-navigation .container .logo-box {
        justify-content: space-between;
    }
    .header-navigation .container .logo-box .navbar-brand {
    	text-align: left;
    }
    .header-navigation .container .menu-toggler {
    	left: auto;
    	right: 15px;
    }
}

@media(max-width: 1199px) {

    .progress-one__text br,
    .testimonials-one__home-two .testimonials-one__text br,
    .service-two__title br,
    .faq-one__text br {
        display: none;
    }

    .progress-one__home-two .inner-container {
        padding-bottom: 50px;
    }

    .banner-three__moc {
        display: none !important;
    }
    .banner-three__wrapper .container {
        padding-top: 170px;
    }
    .contact-one__form {
        margin-bottom: 50px;
    }
}

@media(max-width: 991px) {
    .about-one__image-block {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .service-one__block {
        margin-top: -120px;
    }

    .service-one__single {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .service-two__single {
        margin-bottom: 180px;
    }

    .service-two {
        margin-bottom: -100px;
        padding-bottom: 0;
    }

    .funfact-one {
        padding-bottom: 70px;
    }

    .funfact-one__single {
        margin-bottom: 50px;
    }

    .banner-wrapper .owl-dots .owl-dot span {
        width: 125px;
        height: 80px;
    }

    .banner-one__title {
        font-size: 35px;
        line-height: 48px;
    }

    .banner-one .container {
        padding-top: 100px;
        padding-bottom: 235px;
    }

    .banner-wrapper .owl-theme .owl-dots {
        display: none;
    }

    .banner-one__text br,
    .banner-one__title br {
        display: none;
    }

    .banner-two__wrapper .banner-one__title br,
    .banner-two__wrapper .banner-one__text br {
        display: inherit;
    }

    .banner-two__wrapper .container {
        padding-top: 170px;
        padding-bottom: 150px;
    }

    .service-one__home-two .service-one__block {
        margin-top: 0;
    }

    .project-one {
        padding-top: 70px;
    }

    .project-one .block-title {
        margin-bottom: 0;
    }

    .project-one .masonary-item {
        margin-top: 50px;
    }

    .banner-three__wrapper .banner-one__text br,
    .banner-three__wrapper .banner-one__title br {
        display: inherit;
    }
    .banner-three__wrapper .container {
        padding-top: 170px;
        padding-bottom: 170px;
    }
    .service-three__image {
        margin-bottom: 40px;
    }
    .service-three__image > img {
        width: 100%;
    }
    .service-three__title:before {
        display: none;
    }
    .service-three__single:nth-child(odd) .service-three__content {
        text-align: left;
    }
    .shop-sidebar {
        margin-bottom: 50px;
    }
    .product-details__content {
        margin-top: 50px;
    }
}

@media(max-width: 575px) {
    .banner-two__side-gutter,
    .banner-two__wrapper .banner-one__title br,
    .banner-two__wrapper .banner-one__text br {
        display: none;
    }
    .banner-two__wrapper {
        padding-left: 0;
    }
    .site-header__home-two {
        padding-left: 0;
    }
    .banner-three__side-gutter {
        display: none;
    }
    .comment-one__reply {
        position: relative;
        margin-top: 15px;
    }
    .comment-one__image,
    .comment-one__content {
        display: block;
    }
    .comment-one__content {
        padding-left: 0;
        padding-top: 15px;
    }
}

@media(max-width: 480px) {
    .banner-one__title {
        font-size: 30px;
        line-height: 38px;
    }

    .page-wrapper.has-border-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .block-title__title {
        font-size: 30px;
        line-height: 1.25em;
    }
    .testimonials-two__qoute, .testimonials-two__content {
        display: block;
        padding: 0;
    }
    .testimonials-two__content {
        padding-top: 40px;
    }
    .testimonials-two__carousel-dots-block {
        margin-left: 0;
        justify-content: center;
    }
    .inner-banner__blog-date, .inner-banner__blog-content {
        display: block;
        padding: 0;
        border: none;
    }
    .inner-banner__blog-content {
        padding-top: 20px;
        border-top: 2px solid #9097a0;
        margin-top: 20px;
    }
    .inner-banner__blog .inner-banner__title {
        font-size: 30px;
        line-height: 1.3em;
    }
    .subscribe-one__form input {
        max-width: 100%;
    }
    .shop-one__product-query-text {
        flex: 1 1 100%;
        text-align: center;
    }
    .product-details__btn__wrap {
        justify-content: center;
        flex-wrap: wrap;
    }
    .product-details .thm-btn,
    .product-details__love-btn,
    .product-details .bootstrap-touchspin {
        flex: 1 1 100%;
    }
    .product-details .thm-btn {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .bannder-three__carousel .banner-one__text br {
    	display: none;
    }
}

@media(max-width: 425px) {
	.banner-one.owl-theme .owl-dots,
	.banner-wrapper .banner-carousel__two .owl-dots {
		display: none !important;
	}
	.banner-wrapper .carousel-dots-block {
		top: auto;
		left: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		bottom: 70px;
		width: 100%;
	}
	.banner-wrapper .carousel-dots-block [class*="carousel-dots"] {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.banner-wrapper .carousel-dots-block [class*="carousel-dots"] .carousel-dots-list + .carousel-dots-list {
		margin-top: 0;
		margin-left: 10px;
	}
}

@media(max-width: 375px) {
    .about-one__image {
        max-width: 100%;
    }
    .site-header__home-two .header-navigation .container .right-side-box {
        display: none;
    }
    .banner-three__wrapper .banner-one__text br {
        display: none;
    }
}

@media(max-width: 320px) {
    .banner-one__title {
        font-size: 28px;
        line-height: 32px;
    }

    .faq-one .accrodion-title h4 {
        font-size: 17px;
        line-height: 1.4em;
    }
    .banner-two__wrapper .banner-one__title br {
        display: inherit;
    }
    .banner-two__wrapper .banner-one__title {
        font-size: 21px;
        line-height: 1.3em;
    }
    .block-title__title {
        font-size: 23px;
    }
    .project-one__content {
        max-width: 245px;
    }
}